$redPrimary : #982529;
$redLight: rgba(152,37,42, 0.1);
$redDarken : #8D2226;
$blueLight: #8AB8DF;
$textColor: #4A4A4A;
$lightGrey: rgba(244,244,244, 0.59);
$darkGrey: rgba(200,200,200, 0.5);
$textGrey : #979797;