@define-extend redButton {
    border:none;
    background-color: $redPrimary;
    border-radius:0;
    padding: 1vh 2vw;
    text-transform: uppercase;
    color:white;
    transition: background-color ease 0.2S;
}

@define-extend redUnderline {
    content:'';
    position: absolute;
    height: 30vh;
    transform:translate(-40px, -70px) rotate(90deg);
    border: $redPrimary solid 1px;
}