@define-mixin button $color {
    margin-top: 3vh;
    i{
        margin-left: 1rem;
    }
    &:hover{
        background-color: $color;
    }
    &:focus{
        background-color: $color;
        outline:none;
    }
    &:active{
        background-color: $color;
        outline:none;
    }
}

@define-mixin whiteTitle {
    h2 {
        font-weight: 700;
        margin-bottom: 10vh;
        color:white;

        &::before{
         @extend whiteUnderline;
        }
    }
}

@define-mixin redTitle {
    h2 {
        font-weight: 700;
        margin-bottom: 10vh;

        &::before{
            @extend redUnderline;
         }
    }
}